/*HOME PAGE STYLING!!*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#00141a, #008fb3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 80vw;  /* Adjust the width to your desired size */
    height: 80vh; /* Adjust the height to your desired size */
    background-color: #013544;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Adjust the intensity by changing the last two values */
    border-radius: 7%; /* Set border-radius to 0 for square corners */
    overflow: hidden;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 110px; /* Adjust the size of the logo */
}

.centered-image {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    max-height: 100%; /* Make sure the image doesn't exceed the container height */
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* Center text within the container */
.container h1,
.container p {
    margin: 0;
    text-align: center;
}

/* Adjust the left margin of the text */
.container h1 {
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color:rgb(0, 217, 255);
    font-weight: 100;
    text-shadow: 0 0 10px rgba(0, 125, 251, 0.8); /* Add a glow effect */
    margin-right: 35%;
    margin-top: 2%;
}

.container p{
    margin-top: 2%;
    margin-left: 10%;
    text-align: left;
    font-family: 'Tw cen MT', sans-serif;
    font-size: 25px; /* Set the font size for the paragraph */
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    line-height: 1.6; /* Adjust the line height for better readability */
    color: #ffffff; /* Set the font color for the paragraph */
}

/*button and glow*/

.glow-button {
    display: inline-block;
    text-decoration: none; /* Remove default underline for anchor element */
    background-color: #00b0d3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10%;
    margin-top: 7%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.glow-button:hover {
    background-color: #fff;
    color: #013544;
    box-shadow: 0 0 20px rgba(0, 213, 255, 0.8);
    transform: scale(1.1);
}